.task-item{
    padding: 10px 20px;
    border-bottom: solid 2px #d1d5db;
}
.task-item:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* border-color: #d1d5db; */
    transform: translateY(-1px);
}
.task-item > .details{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.sidebar{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.new-task-dialog{
    width: 30vw;
    height: 22vh;
    padding: 8px 12px;
}
.new-task-form{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-between;
}
.new-task-form > *{
    border: none;
    outline: none;
    margin: none;
}
.task-subinfo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}
#task-title{
    border: none;
    height: 5vh;
    width: 90%;
    font-size: 1.5rem;
}

#task-description{
    height: 3vh;
    width: 100%;
    font-size: 1rem;
}

.prj-item{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.high-priority{
    color:#d1453b;
}
.normal-priority{
    color:#eb8909;
}
.low-priority{
    color:#246fe0
}